<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<header>
    <div th:replace="fragments :: welcomeMessage"></div>
    <br><br><br>
    <div>
        <form action="/profile" method="get">
            <button type="submit">Profile Page</button>
        </form>
    </div>
</header>

<main>
    <div>

    </div>
</main>

<div th:replace="fragments :: footer"></div>

</body>
</html>