<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="/signup" method="post">
    <label for="username">User Name:
        <input type="text" id="username" name="username">
    </label>
    <label for="password">Password:
        <input type="password" id="password" name="password">
    </label>

    <label for="firstName">First Name:
        <input type="text" id="firstName" name="firstName">
    </label>

    <label for="firstName">Last Name:
        <input type="text" id="lastName" name="lastName">
    </label>

    <label for="dateOfBirth">Date of birth:
        <input type="date" id="dateOfBirth" name="dateOfBirth">
    </label>

    <label for="bio">Bio:
        <input type="textarea" id="bio" name="bio">
    </label>

    <button type="submit">Sign up</button>

</form>
</body>
</html>